name: Release
on:
  push:
    tags:
      - 'v[0-9]+.*'
permissions:
  contents: write
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: axodotdev/cargo-dist-action@v0.10.0

